@import "flexbox.scss";

html, body {
	height: 100%;
	min-height: 100%;
}

.content-container {
	height: 100%;
	min-height: 100%;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	@include flexbox();
	@include flex-direction(column);
	@include justify-content(center);
}

.nav-footer {
	margin: 0 auto;
}

.nav-copyright {
	display: block;
	padding-top: 0.425rem;
	padding-bottom: 0.425rem;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}
